@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap');

/* ESTILO + CONFIGURAÇÕES GERAIS */

:root {
    --corBranca: #F9F9F9;
    --corLaranja: #FF7A00;
    --corBordas: #cecece;
    --corCinza-Claro: #666666;
    --corCinza-Medio: #4b4b4b;
    --corCinza-Escuro: #172026;

    --fontePadrao: "Montserrat", sans-serif;
    --fonteDestaque: "Playfair Display", serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4 {
    color: var(--corCinza-Medio);
}

body {
    background-color: var(--corBranca);
    font-family: var(--fontePadrao);
    color: var(--corCinza-Claro);
}

/* ESTILO DO CABEÇALHO */

header {
  padding: 12px 4%;
  background-color: var(--corCinza-Escuro);
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo img {
  max-width: 70px;
  border-radius: 50%;
}

header a {
  color: var(--corBranca);
  text-decoration: none;
  display: inline-block;
  transition: 0.5s;
  font-family: var(--fonte-destaque);
}

header a:hover {
  color: var(--corCinza-Claro);
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

header .btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--corLaranja);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  color: var(--corBranca);
}

header .btn-contato button:hover {
  box-shadow: 0px 0px 8px #E56C00;
}


/* ESTILO DE: INSCRIÇÕES */

#corrida-tag {
  text-align: center;
  padding: 20px;
  font-size: 2.5rem;
}

.inscricoes {
    display: flex;
    justify-content: space-around;
    padding: 0 4%;
}

.inscricoes .more-button {
    background-color: var(--corBranca);
    border: 0;
}

.inscricoes .kit {
    margin-top: 20px;
    display: flex;
    border-radius: 5px 5px 0px 0px;
    padding: 15px;
    align-items: center;
    max-width: 650px;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.3s;
}

.kit:hover {
    background: #f5f5f5;
}

.inscricoes h3 {
    font-weight: 700;
}

.inscricoes .kit img {
    max-width: 90px;
}

.inscricoes .kit .valor {
    color: var(--corCinza-Escuro);
}

.inscricoes .kit-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
}

.inscricoes .kit-more {
    display: flex;
    max-width: 650px;
    padding: 15px;
    border-radius: 0px 0px 5px 5px;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.inscricoes .kit-more > img {
    max-width: 200px;
}

.inscricoes .esc-aba {
    display: none;
    border-top: solid 0.1px var(--corBordas);
}

.inscricoes .kit-more-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 15px;
    margin-bottom: 10px;
}

.inscricoes .text {
    padding-left: 10px;
}

.inscricoes .text h3 {
    padding-bottom: 10px;
}

.inscricoes .evento-info-tag {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px 5px 0px 0px;
    padding: 15px;
    align-items: center;
    max-width: 650px;
    min-width: 300px;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.3s;
}

.inscricoes .evento-info-tag:hover {
    background: #f5f5f5;
}

.inscricoes .evento-info-more {
    max-width: 650px;
    padding: 15px;
    border-radius: 0px 0px 5px 5px;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.inscricoes .evento-info-more h3 {
    margin-bottom: 5px;
}

.inscricoes .kit-more-button {
    padding: 9.75px 22.5px;
    background-color:#74E895;
    border: none;
    max-width: 1080px;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

.inscricoes .kit-more-button a {
    display: block;
    width: 100%;
    height: 100%;
}


.inscricoes .kit-more-button:hover {
    background-color: #65D986;
}

.inscricoes a {
    color: var(--corBranca);
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}


/* ==============================
   MEDIA QUERIES - RESPONSIVO
=================================*/

/* ===== Celulares pequenos (até 480px) ===== */
@media screen and (max-width: 480px) {
    #corrida-tag {
      font-size: 1.3rem;
    }
    .inscricoes {
      flex-direction: column-reverse;
    }

    .inscricoes .kit-more > img {
      max-width: 0px;
    }
    
    .inscricoes .kit-more p {
      text-align: justify;
      padding-bottom: 15px;
    }
    
}

/* ===== Celulares médios (481px a 768px) ===== */
@media screen and (min-width: 481px) and (max-width: 768px) {
    #corrida-tag {
      font-size: 1.5rem;
    }
    .inscricoes {
      flex-direction: column-reverse;
    }

    .inscricoes .kit-more > img {
      max-width: 0px;
    }
    
    .inscricoes .kit-more p {
      text-align: justify;
      padding-bottom: 15px;
    }
}
/* ===== Tablets (769px a 1024px) ===== */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #corrida-tag {
      font-size: 1.7rem;
    }
    .inscricoes {
      flex-direction: column-reverse;
    }

    .inscricoes .kit, .inscricoes .kit-more, .inscricoes .evento-info-tag, .inscricoes .evento-info-more {
      max-width: 100%;
    }
    
    .inscricoes .kit-more p {
      text-align: justify;
      padding-bottom: 15px;
    }
}

